/* nice blue #4286f4 */
.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

/*.paragraph-box*/
.paragraph-box:has-caret {
    -fx-background-color: #eaeaea;
}

.paragraph-box {
	-fx-font-family: "Consolas", monospace;
}

.do, .say, .end, .to, .by {
  -fx-fill: #F78C6C;
}

.string_literal, .integer_literal, .identifier {
  -fx-fill: #ab7967;
}