/* [output area colors] */
.error {
    -fx-fill: #fc3232;
    -fx-font-family: sans-serif;
}
.input {
    -fx-fill: #f0c0c0c;
    -fx-background-color: #1d1d1d;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
}
.output {
    -fx-fill: #333333;
}
.traceoutput {
    -fx-fill: #4286f4;
}
.debuginput {
    -fx-fill: #4286f4;
    -fx-background-color: #1d1d1d;
    -fx-font-family: sans-serif;
    -fx-font-style: italic;
}

/*.paragraph-box*/
.paragraph-box:has-caret {
    -fx-background-color: #eaeaea;
}

.paragraph-box {
	-fx-font-family: "Consolas", monospace;
}

.do, .say, .end, .to, .by {
  -fx-fill: #F78C6C;
}

.string_literal, .integer_literal, .identifier {
  -fx-fill: #ab7967;
}